/* App */
h2 {
    font-family: 'comic Sans MS';
    font-size: 200%;
}

p{
    font-family: "Gill Sans", sans-serif;
    font-size: 150%;
}

ul{
    font-family: "Gill Sans", sans-serif;
    font-size: 150%;
}

/* MainParent */
.header{
    display: flex;
    background-color:#dbbf9e;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#gamename{
    margin-left: 1rem;
    /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
    width: 30%;
}

#nav-bar{
    display: flex;
    align-items: center;
    width: 100%;
    /* float: left;
    flex-wrap: nowrap;
    border: 100%; */
}

.menu, button, select{
    margin: 0.25rem;
    background-color: #fdc0c7;
    padding: 0.5rem;
    border-radius: 50rem;
    font-family: "Gill Sans", sans-serif;
    color: #fffffa;
    font-size: 130%;
}

#player{
    size:50%;
    opacity: 75%;
    margin-right: 2%;
}

#homepage{
    display: flex;
    width: 100%;
}

/* Game */
.game{
    display: flex;
}

.game .collection{
    width: 30%;
}

.game-block{
    width: 100%;
    height: 100%;
    object-position: 0%;
}

/*My Collection*/
.collection-homepage{
    display: flex;
    gap: 5px;
}

.collection{
    display: grid;
    background-color: #dbbf9e;
    border-right: 2rem ridge rgba(230, 234, 166, 0.321);
    width:70%;
}

.collected-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    padding: 2em;
    width: 100%;
    justify-content: center;
}

.title{
    font-family: "Gill Sans", sans-serif;
    font-size: 200%;
    display: grid;
    width: 100%;
    margin-left: 2rem;
}
.icon {
    background-color: #fffffa;
    background-size: 100px;
    width: calc(95%);
    margin: 1%;
    border-radius: 10%;
    opacity: 100%;
}

#hide_icon {
    filter: blur(3px);
}

/* Card */
#info-card {
    display:flex;
    background-color: #dbbf9e ;
    width: 100%;
    justify-content: center;
}

#info-container{
    position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

#card-img{
    margin: 2%;
    width: 30%;
    border-radius: 10%;
    background-size: 40%;
    background-color: #fffffa;
}

#info{
    width: 70%;
}

.phrase{
    background: #fffffa;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
}

.phrase ::after{
    content: '';
    display: block;
    position: absolute;
    left: 35%;
    top: 52.5%;
    width:fit-content;
    height: fit-content;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid  #fffffa;
}

.info{
    display: flex;
    flex-direction: column;
}

#detail{
    margin-top: 1%;
    width: 400px;
}

.details{
    margin-top: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}
.container{
    min-width: 0px;
     height: 60%;
     width: 80%;
     margin-left: 10%;
     flex-wrap: wrap;
     display: flex;
     /* justify-content: center; */
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     gap: 10px;
 }
.card-grid{
   background-color: #fff;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   width: 23%;
   height: 20%;
   min-height: 30%;
}
.card {
    position: relative;
}
.card img {
    display: block;
    border: 2px solid #fff;
    border-radius: 2px;
}
.front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    width: 30%;
    height: 20%;
    margin-left: 30%;
    align-tracks: center;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay:  0.2s;
}
.back {
    transition: all ease-in 0.2s;
    transition-delay: 0s;
    justify-content: center;
    width: 40%;
    height: 80%;
    margin-left: 30%;
    align-tracks: center;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}

/* Collection */
form{
    float: center;
    padding: 2rem;
    margin:auto
}
.form-group{
    padding: 10px;
    align-items: baseline;
}

.label {
    font-family: "Gill Sans", sans-serif;
    font-size: 200%;
    display: grid;
    width: 100%;
    margin-left: 2rem;
}

input{
    width:200px;
    height: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Customer Service */
.care{
    text-align: center;
}

h3{
    color: #fffffa;
    font-family: 'comic Sans MS';
}
.game-header{
    align-items: center;
    font-family: 'comic Sans MS';
    display: auto;
}

/* High Score */
.high-score{
    text-align: center;
}

#score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.score{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width : 75%;
    background-color: #fdc0c7;
    border-radius: 10rem;
    font-family: "Gill Sans", sans-serif;
    color: #fffffa;
}