/* App */
h2 {
  font-family: "comic Sans MS";
  /* font-size: 200%; */
}

p {
  font-family: "Gill Sans", sans-serif;
  font-size: 150%;
}

ul {
  font-family: "Gill Sans", sans-serif;
  font-size: 150%;
}

input {
  width: 80%;
  font-family: "Gill Sans", sans-serif;
  font-size: 150%;
  padding: 0.5rem;
  border-radius: 20px;
}

/* Menu */
.header {
  display: flex;
  background-color: #dbbf9e;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#gamename {
  margin-left: 1rem;
  /* margin-top: 0.5rem;
    margin-bottom: 0.5rem; */
  width: 30%;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* float: left;
    flex-wrap: nowrap;
    border: 100%; */
}

.menu,
button,
select {
  margin: 0.25rem;
  background-color: #fdc0c7;
  padding: 0.5rem;
  border-radius: 50rem;
  font-family: "Gill Sans", sans-serif;
  color: #fffffa;
  font-size: 130%;
}

#player {
  size: 50%;
  opacity: 75%;
  margin-right: 2%;
}

#homepage {
  display: flex;
  width: 100%;
}

/* Game */
.game {
  display: flex;
}

.game .collection {
  width: 30%;
}

.game-block {
  width: 100%;
  height: 100%;
  object-position: 0%;
}

#game-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1rem;
  gap: 1rem;
}

/* game */
.title {
  font-family: "Gill Sans", sans-serif;
  font-size: 200%;
  width: 100%;
  margin-left: 2rem;
}

.collected-container {
  width: 90%;
  position: center;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.icon-card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  aspect-ratio: 1/1;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

#hide_icon {
  filter: blur(3px);
}

/* Card */
#info-card {
  display: flex;
  background-color: #dbbf9e;
  width: 100%;
  justify-content: center;
}

#info-container {
  position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

#card-img {
  display: flex;
  margin: 2%;
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 10%;
  background-color: #fffffa;
  justify-content: center;
  align-items: center;
}

#card-img img {
  display: flex;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
  border-radius: 10%;
}

#info {
  width: 70%;
}

.phrase {
  background: #fffffa;
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
}

.phrase ::after {
  content: "";
  display: block;
  position: absolute;
  left: 35%;
  top: 50%;
  width: fit-content;
  height: fit-content;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 15px solid #fffffa;
}

.info {
  display: flex;
  flex-direction: column;
}

#detail {
  margin-top: 1%;
  width: 400px;
}

.details {
  margin-top: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}
.container {
  min-width: 0px;
  height: 60%;
  width: 80%;
  margin-left: 10%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

#notification{
  transition: color 0.5s ease;
}

.card-grid {
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 23%;
  aspect-ratio: 1/1;
}

.card-grid-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.card {
  position: relative;
}

.card img {
  display: block;
  border: 2px solid #fff;
  border-radius: 2px;
}

.gamecard{
  position: relative;
}

.front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.back {
  transition: all ease-in 0.2s;
  transition-delay: 0s;
  position: absolute;
  width: 80%;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}

/* Collection */
.collection-homepage {
  display: flex;
  gap: 5px;
}

.collection-homepage .collection {
  width: 80%;
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbbf9e;
  border-right: 2rem ridge rgba(230, 234, 166, 0.321);
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

form {
  margin-left: 2rem;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 10px;
}

.form h3 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* .form button {
  margin-left: 2rem;
  margin-right: 2rem;
} */

.label {
  font-family: "Gill Sans", sans-serif;
  font-size: 200%;
  display: grid;
  width: 100%;
}

/* .form input {
  width: 200%;
} */

.btn {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Customer Service */
.care {
  text-align: center;
}

h3 {
  color: #fffffa;
  font-family: "comic Sans MS";
}
.game-header {
  align-items: center;
  font-family: "comic Sans MS";
  display: auto;
}

/* High Score */
.high-score {
  text-align: center;
}

#score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  background-color: #fdc0c7;
  border-radius: 40px;
}

.score img{
  width: 40px;
}

.basic-score{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.detail-score{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


/* Modal */
/* form .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */