/* App */
#mainP


/* MainParent */
.collected-container {
    display: flex
}
/* UserAchievement */
.collected-container{
    margin: 0%;
    gap: 5px
}
.icon {
    width: calc(10% - 2em);
    margin: 0.25%;
    border-radius: 10%;
    opacity: 80%;
}

#hide_icon {
    filter: blur(3px);
}

/* Card */
.card {
    display:flex;
    width:10%
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}
.card-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.card {
    position: relative;
}
.card img {
    width: 100%;
    display: block;
    border: 2px solid #fff;
    border-radius: 6px;
}
.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay:  0.2s;
}
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0s;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}