/* App */



/* MainParent */
.header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:#dbbf9e;
    align-items: center;
    gap: 5%
}

#gamename{
    float: left;
}

#nav-bar{
    float: left;
    font-size: 100%;
    border: 100%;
}

.menu{
    margin: 0.5rem;
}

#player{
    float: right;
    opacity: 75%;
}


#homepage{
    display: flex;
    width: 100%;
}

/* Game */
.main-container{
    display: grid;
}
/* CardContainer */
.collected-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2em;
    width: 25%
}

.title{
    display: grid;
    width: 100%;
}
.icon {
    width: calc(95%);
    margin: 0.25%;
    border-radius: 10%;
    opacity: 80%;
}

#hide_icon {
    filter: blur(3px);
}

/* Card */
.card {
    display:flex;
    width:100%;
    background-color: #dbbf9e ;
}

#card-img{
    margin: 2%;
    width: 40%;
    border-radius: 10%;
    background-size: 40%;
    background-color: #fffffa;
}

.info{
    width: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}
.container{
    min-width: 0px;
     height: 60%;
     width: 80%;
     margin-left: 10%;
     flex-wrap: wrap;
     display: flex;
     justify-content: center;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     gap: 10px;
 }
.card-grid{
   background-color: #fff;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
   width: 23%;
   height: 20%;
}
.card {
    position: relative;
}
.card img {
    display: block;
    border: 2px solid #fff;
    border-radius: 2px;
}
.front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
    width: 40%;
    margin-left: 30%;
}
.flipped .front {
    transform: rotateY(0deg);
    transition-delay:  0.2s;
}
.back {
    transition: all ease-in 0.2s;
    transition-delay: 0s;
    width: 40%;
    margin-left: 30%;
}
.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589f9;
}

/* Collection */
form{
    float: center;
    margin: 15px;
}
.form-group{
    padding: 10px;
}

.btn{
    width: 100%;
}